<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>VJS</title>
</head>
<body>
<h1>Liste des joueurs</h1>
<div id="playersList"></div>
<h1>Liste des Circuits</h1>
<div id="gamesList"></div>
<h1>Ajouter un joueur</h1>
<form id="playerForm">
    <label for="name">Nom:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="firstName">Prénom:</label>
    <input type="text" id="firstName" name="firstName" required><br><br>

    <label for="team">Équipe :</label>
    <input type="text" id="team" name="team" required><br><br>

    <label for="car">Voiture :</label>
    <input type="text" id="car" name="car" required><br><br>

    <label for="brand">Marque :</label>
    <input type="text" id="brand" name="brand" required><br><br>

    <label for="age">Âge :</label>
    <input type="number" id="age" name="age" required><br><br>

    <button type="submit">Ajouter joueur</button>
</form>
</body>
<footer>
    <script src="../games/games.js"></script>
</footer>
</html>